*
!/Config/
!/Config/Input/
!/Config/Input/L-39C/
!/Config/Input/L-39ZA/
!/Config/Input/*/joystick/
!BU0836A\ Interface\ *.diff.lua
!F16 MFD 1 *.diff.lua
!F16 MFD 2 *.diff.lua
!Joystick - HOTAS Warthog *.diff.lua
!Throttle - HOTAS Warthog *.diff.lua
!.gitignore